<div>
    <h1>Operaciones</h1>
</div>

<div>
    <label class="col-form-label col-form-label-lg mt-4" for="inputLarge">Numero 1</label>
    <input class="form-control form-control-lg" [(ngModel)]="num1" type="text" placeholder="Numero 1" id="inputLarge">
</div>

<div>
    <label class="col-form-label col-form-label-lg mt-4" for="inputLarge">Numero 2</label>
    <input class="form-control form-control-lg" [(ngModel)]="num2" type="text" placeholder="Numero 2" id="inputLarge">
  </div>

  <button (click)="sumar()" type="button" class="btn btn-outline-light">Sumar</button>

  <div>
    <h2>Resultado es: {{resultado}} </h2>
  </div>